/* .navbarDiv {
  background-color: rgb(33, 33, 33);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: -10px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#navText {
  font-size: 20px;
  align-items: center;
}
a:hover {
  transition: 0.6s;
  transform: scale(1.1);
  color: #07a8d0;
}
#mylogo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding-bottom: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 480px) {
  .navbarDiv {
    height: auto;
    width: auto;
  }
  a{
    flex-wrap:wrap;
  }
}

 */


 .navbar {
  background-color: rgb(33, 33, 33);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px; 
  font-family: sans-serif;
  flex-wrap: wrap; 
}

a {
  text-decoration: none;
  color: white;
  display: inline-block; 
  margin-right: 10px;
  padding: 5px; 
}

#navText {
  font-size: 16px; 
}

a:hover {
  transition: 0.6s;
  transform: scale(1.1);
  color: #07a8d0;
}

#mylogo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding-bottom: 5px; 
  padding-left: 5px;
}
.toggle-icon {
  display:none;
}

.navbar-links {
  display: flex; 
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .toggle-icon {
    display: block; 
  }
  .toggle-icon:hover{
    transition: 0.6s;
    transform: scale(1.1);
    color: #07a8d0;
  }

  .navbar-links {
    display: none; 
  }
  #mylogo{
    display: none;
  }
  .navbar-header{
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .navbar-links.active {
    display:inline-table; 
  }
}


