.navbar {
  background-color: rgb(33, 33, 33);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: sans-serif;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 60px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  background-image: linear-gradient(to right, #7f00ff, #e100ff);
}

#navText {
  font-size: 16px;
}

a:hover {
  transition: 0.6s;
  transform: scale(1.1);
  color: #ffffff;
}

#mylogo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding-bottom: 3px;
  padding-left: 3px;
  box-shadow: 0 0 2px #7f00ff , 0 0 5px  #e100ff ;
  
}
.toggle-icon {
  display: none;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 480px) {
  .toggle-icon {
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  .toggle-icon:hover {
    transition: 0.6s;
    transform: scale(1.1);
    background-image: linear-gradient(to right, #7f00ff, #e100ff);
  }

  .navbar-links {
    display: none;
  }
  #mylogo {
    display: none;
    justify-content: flex-start;
  }
  .navbar-header {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 14px;
    justify-content: flex-start;
  }
  .link a {
    width: 55px;
    height: 25px;
  }
  /* .navbar-links active{
    display: block;
  } */
  /* a{display: none;} */
}
