.main-skill {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: black;

}

/* .container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  height: 87.6vh;
  background-color: #000000;
} */
.program {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(80, 169, 225, 0.2);
  padding: 15px;
}
.row {
  flex-direction: column;
  width: 60%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(80, 169, 225, 0.2);
  margin: 10px;
  padding: 20px;
}

.column {
  width: 100%;
}

.logo-with-para {
  display: flex;
  align-items: center;
}

.logo-with-para img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  margin-right: 10px;
}
.logo-with-para p {
  color: #cfd1d2;
  font-size: 16px;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  white-space: pre-line;
}

.small-logo-line {
  display: flex;
  align-items: center;
}


.headpara {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #7f0588;
  align-items: center;
  color: rgb(230, 224, 224);
  width: max-content;
  text-shadow: 0 0 10px rgba(94, 186, 222, 0.7);
}


.small-logo-line img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}

.horizontal-line {
  position: relative;
  height: 3px;
  width: 400px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #7f00ff, #e100ff);
}

.horizontal-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-image: #0bea98;
}

.horizontal-line:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: #03462d;
}

.horizontal-line:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background-color: #17a8ec;
}

@media screen and (max-width: 480px) {
  .main-skill {
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
  }
  .row{
    margin-top: 25px;
  }
  .row , .program {
    width: auto;
    height: auto;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
  }
  .logo-with-para p{
    display: block;
  }
  .logo-with-para img{
    width: 100px;
    height: 150px;
  }
  .column , .headpara, .small-logo-line{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
