.skill-section {
  background: #000000;
  padding: 120px 20px;
  color: white;
  text-align: center;
}

.progress-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background: linear-gradient(135deg, #000000, #000000);
  /* padding: 40px; */
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.progress-left-card,
.progress-right-card {
  flex: 1;
  min-width: 280px;
  padding: 20px;
  background-color: #222222;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.section-heading {
  font-size: 2rem;
  color: #2adbd2;
  font-weight: bold;
  margin-bottom: 20px;
}

.progress-intro {
  font-size: 1rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;

  line-height: 1.6;
}

/* Progress bar styling inside bar */
.progress-bar {
  margin-bottom: 20px;
}

.progress-track {
  height: 30px;
  background-color: #000000;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, #63dcf1, #fa5bff);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 600;
  transition: width 1s ease-in-out;
  box-shadow: 0 0 10px #fcd000, 0 0 20px #fcd000aa;
}

.progress-text {
  color: #000;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  .progress-wrapper {
    flex-direction: column;

    padding: 30px 20px;
  }

  .skill-section{
     padding: 30px 20px;
     padding-left: 0 !important;
      padding-right: 0 !important;
  }

  .section-heading {
    font-size: 1.6rem;
    text-align: center;
  }

  .progress-intro {
    text-align: center;
  }

  .progress-fill {
    justify-content: center;
    padding-left: 0;
  }

  .progress-text {
    font-size: 0.85rem;
  }

  .progress-left-card,
  .progress-right-card {
    width: 100%;         
    min-width: 0;       
    padding: 15px;       /* optional: slightly tighter padding */
  }
  .main-skill-heading {
 font-size: 2rem;
  color: #23d8ba;
  margin-bottom: 40px;
  font-weight: bold;

  letter-spacing: 1px;
  
}
}

.main-skill-heading {
 font-size: 2rem;
  color: #23d8ba;
  margin-bottom: 40px;
  font-weight: bold;

  letter-spacing: 1px;
  
}
