.about-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  background-color: black;
  padding: 10px;
  height: 110vh;
  flex-wrap: wrap;
  width: auto;
}

.about-row {
  margin-top: 10px;
  display: flex;
  flex: 1;
  box-shadow: 0 0 10px rgba(80, 169, 225, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.about-logo {
  align-items: center;
  margin-left: 42px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(80, 169, 225, 0.2);
}

.about-box {
  padding: 20px;
  flex: 1;
}

.about-box h2 {
  margin-bottom: 10px;
}

.about-box p {
  color: #333;
}
.header {
  color: white;
  margin-top: 20px;
  border-bottom: 2px solid #7f0588;
  display: inline-block;
  justify-content: center;
  align-items: center !important;
  padding-bottom: 5px;
}

.company-info {
  color: aliceblue;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.company-details h3 {
  margin: 2px 0;
}

.company-details p {
  color: #777;
}

@media screen and (max-width: 480px) {
  .about-container {
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 2px;
    width: auto;
    overflow: hidden;
  }
  .about-row{
    padding: 5px;
  }
  .form-hold {
    width: auto;
    padding: 5px;
  }
}
