.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.4s ease forwards;
}

.modal-box {
  background: #111;
  color: #fff;
  border-radius: 20px;
  padding: 25px;
  margin: 80px;
  width: 90%;
  max-width: 600px;
  position: relative;
  animation: slideUp 0.5s ease forwards;
  box-shadow: 0 0 25px rgba(35, 216, 186, 0.5);
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 12px;
  background: transparent;
  border: none;
  color: #ff0000;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.modal-close:hover {
  transform: rotate(90deg) scale(1.2);
}

.modal-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #23d8ba;
}

.modal-img {
 width: 100%;
  max-width: 500px;  
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  margin: 0 auto 15px;
  display: block;
}

.modal-desc {
  font-size: 15px;
  color: #bbb;
  margin-bottom: 12px;
}

.modal-status,
.modal-tech {
  font-size: 14px;
  margin-bottom: 10px;
}

.modal-links {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.btn-live,
.btn-github {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.modal-box p{
  color: white;
}

.btn-live {
  background: linear-gradient(90deg, #23d8ba, #1da58c);
  color: #000;
}

.btn-live:hover {
  transform: scale(1.08);
}

.btn-github {
  background: #222;
  color: #23d8ba;
  border: 1px solid #23d8ba;
}

.btn-github:hover {
  background: #23d8ba;
  color: #000;
  transform: scale(1.08);
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Responsive */
@media (max-width: 480px) {
  .modal-box {
    padding: 18px;
    border-radius: 15px;
    margin: 10px;
  }
  .modal-title {
    font-size: 20px;
  }
  .modal-img {
     max-width: 100%;
    height: auto;
    max-height: 250px;
  }
  .modal-desc {
    font-size: 13px;
  }
}
