.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}



.modal-box {
  background-color: #111;
  padding: 15px;
  margin-top: 10px;;
  border-radius: 8px;
  max-width: 500px;
  width: 95%;
  height: 80%;
  position: relative;
  box-shadow: 0 8px 20px rgba(15, 230, 230, 0.2);
  animation: scaleIn 0.3s ease;
}
.modal-close {
  all: unset;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 0.95rem; 
  background: transparent;
  border: none;
  color: #e60032;
  cursor: pointer;
  padding: 2px;
  line-height: 1;
  transition: transform 0.2s ease, color 0.2s ease;
}

.modal-close:hover {
  color: #b10000;
  transform: scale(1.1);
}

.modal-box h6 {
  color: #51fdfd;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.modal-box p {
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 15px;
}

.modal-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.modal-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.modal-tag {
  background: #333;
  color: white;
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 5px;
}

.modal-tag.complete {
  background-color: #00ff99;
  color: #000;
  font-weight: bold;
}

.modal-tag.wip {
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
}

.modal-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-links a {
  background-image: linear-gradient(to right, #1eeaf1, #05737a);
  color: white;
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.85rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 14px rgba(127, 0, 255, 0.3);
}

.modal-links a:hover {
  transform: scale(1.05);
  /* box-shadow: 0 6px 18px rgba(225, 0, 255, 0.4); */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}



.status-badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
}

.status-badge.green {
  background-color: #d4edda;
  color: #155724;
}

.status-badge.yellow {
  background-color: #fff3cd;
  color: #856404;
}

.status-badge.gray {
  background-color: #e2e3e5;
  color: #6c757d;
}
.modal-box p {
  font-size: 1rem;
  color: #f0f0f0;
  margin-bottom: 12px;
  line-height: 1.6;
}

.modal-box p strong {
  color: #ffffff;
  font-weight: 500;
}

.modal-box span {
  background-color: #000000;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
}
