.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  border: 1px solid #000000;
  height: 100vh;
  background-color: #000000;
  padding: 20px;
}

.work-table {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(59, 194, 248, 0.7);
  border-radius: 5px;
  overflow: hidden;
}

.header {
  text-align: center;
  margin: 5px;
  font-size: 18px;
}

.thead {
  background-color: #07a8d0;
  color: white;
}

.same {
  padding: 12px;
  text-align: left;
  color: white;
  border-bottom: 1px solid #ffffff;
}

.thtable {
  font-weight: bold;
}

.tdtable:last-child {
  text-align: center;
}

.linkgo {
  color: rgb(3, 98, 175);
}

/* @media screen and (max-width: 480px) {
  .container {
   height: 85vh;
   width: auto;
    background-color: rgb(0, 0, 0);
    padding: 1px;
  }
  .work-table {
    width: auto;
    height: auto;
    margin: 0;
    padding: 1px;
  }
  .thead .thtable {
    width: auto;
    height: auto;
  }
} */

@media screen and (max-width: 480px) {
  .container {
    height: 85vh;
    width: auto;
    background-color: rgb(0, 0, 0);
    padding: 1px;
  }

  .work-table {
    width: 100%;
    max-width: 80vh; 
    overflow-x: auto; 
    margin: 0;
    padding: 3px;
  }

  .thead .thtable {
    width: auto;
    height: auto;
  }

  .same {
    font-size: 10px; 
    padding: 8px; 
  }
}