/* Mywork.css */

.container {
  height: 35rem; /* Adjust the height to fit the content */
  font-family: Arial, sans-serif;
  border-radius: 5px; /* Corrected property value */
  border: 1px solid #000000; /* Added border */
  padding: 10px; /* Added padding for better spacing */
  
}

.header {
  text-align: center;
  margin: 5px; /* Adjusted margin syntax */
  font-size: 18px; /* Adjusted font size */
}

.work-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px; /* Added border-radius */
  overflow: hidden; /* Prevent table content from overflowing */
}

.thead {
  background-color: #007bff;
  color: white;
}

.same {
  padding: 12px;
  text-align: left;
  color: white;
  border-bottom: 1px solid #ffffff;
}

.thtable {
  font-weight: bold;

}
/* .tbody{
  color: white;
} */

.tdtable:last-child {
  text-align: center;
}

.linkgo{
  color: rgb(3, 98, 175);
}