.AghoriDocxDiv {
  margin-top: 0;
  background: rgb(0, 0, 0);
  padding: 10px 5px;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  white-space: nowrap;
  animation: marquee 60s linear infinite;

  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #2113dd, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mytextForFuture {
  margin: 40px;
}
#myInputField {
  columns: 25rem;
  margin-bottom: 20rem;
  background-color: black;
  color: white;
  font-size: 20px;
}

#AghoriCopyBtn {
  background-color: rgb(3, 3, 3);
  color: white;
  height: 30px;
  width: 80px;
  padding: 5px 2px;
  position: absolute;
  top: 1;

  border-radius: 6px;

  margin-left: 12px;
}

button:hover {
  transition: 0.6s;
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .AghoriDocxDiv {
    padding: 5px;
  }

  .mytextForFuture {
    margin: 20px;
  }

  #myInputField {
    columns: 15rem;
    margin-bottom: 10rem;
  }

  #AghoriCopyBtn {
    width: 60px;
  }
}