.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
}

.aboutCard {
  flex-basis: 40%;

}

.contact {
  flex-basis: 50%;
  max-width: 600px;
  margin: 0 auto;
}

.contact-card {
  padding: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Rest of your styles remain unchanged */

  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  button {
    margin-bottom: 25px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
  }
  