

.container {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-direction: column;
  height: 100vh; 
  background-color: black;
  padding: 0 20px; 
}

.about,
.contact-card {
  width: calc(50% - 10px); 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 5px;
}

.about{
  order: 1; 
}

.contact-card {
  order: 2;
}


.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form button {
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form input[type="text"],
.form input[type="email"] {
  width: 100%;
}

.form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

