/* Contact.css */

.container {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-direction: column;
  height: 100vh; /* Adjust the height as needed */
  background-color: black; /* This will cover the background in black */
  padding: 0 20px; /* Adjust padding as needed */
}

.about,
.contact-card {
  width: calc(50% - 10px); /* Adjust width and margins for spacing */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 5px; /* Adjust margin as needed */
}

.about{
  order: 1; /* Change order to display about-section first */
}

.contact-card {
  order: 2; /* Change order to display contact-card second */
}


.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form button {
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form input[type="text"],
.form input[type="email"] {
  width: 100%;
}

.form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

