.container-contact {
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  display: flex;
  height: 90vh;
}

.form-hold {
  margin: 20px;
  margin-top: 80px;
  width: 50%;
  padding: 30px;
  box-shadow: 0 0 10px rgba(80, 169, 225, 0.2);
  border-radius: 10px;
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000000;
  justify-content: center;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: calc(100% - 22px);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

textarea {
  resize: none;
}

button {
  padding: 10px;
  margin-left: 100px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  max-width: 100px;
}
.links a {
  margin: 10px;
}

.error {
  color: red;
  font-size: 10px;
}

.alllink-detail {
  margin: 20px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icon {
  border: #1f85f1;
  box-shadow: #007bff;
  width: 40px;
  display: block;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(80, 169, 225, 0.2);
}

.social-icon:hover {
  transform: scale(1.1);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(80, 169, 225, 0.2);
}

.contact-info {
  padding: 20px;
  color: white;
  text-align: left;
  margin-right: 10px;
  text-shadow: 0 0 10px rgba(0, 52, 73, 0.7);
}

.contact-title {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .container-contact {
    height: 85vh;
    flex-direction: column;
    width: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  .form-hold {
    margin-top: 15px;
    width: auto;
    padding: 5px;
    height: auto;
  }
  .form {
    width: 100%;
    align-items: center;
  }
  input {
    width: auto;
  }
  textarea {
    width: auto;
  }
  .links a {
    margin: 10px;
  }
  .alllink-detail{
    margin-left: 50%;
  }
  button{
    margin-bottom: 5px;
    margin-left: 50%;
    margin-right: 50%;
  }
}
