* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: black ;
  height: 620px;
  overflow-x:hidden !important;
  
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
